body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
  }
  
  .header-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container {
    /* position: absolute; */
    /* transform: translate(10%, -50%); */
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }

  .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .container .cards{
    position: absolute;
    width: 200%;
    height: 200vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .cards section{
    width: 40%;
    border: solid 1px black;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
    width: 500%;
    display: flex;
    justify-content: center;
  }
  
  .input-group input {
    width: 500%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out;
  }
  
  .input-group input:focus {
    outline: none;
    border-color: dodgerblue;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(245, 24, 156);
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 10px;
  }
  
  .btn:hover {
    background-color: #007bff;
  }
  
  .links {
    text-align: center;
    margin-top: 10px;
    
  }
  
  .links a {
    color: rgb(245, 6, 6);
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease-in-out;
    width: 100%;
    padding: 10px;
  }
  
  .links a:hover {
    color: #007bff;
  }
  
 
  
 
  